# =====================
# Environment variables
# =====================
.env

# =====================
# Java / Maven
# =====================
**/target/
*.log

# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml

# =====================
# Node / React
# =====================
node_modules/
dist/
build/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db
